header {
  background-color: #FFCBA5;
  boarder-color: #d9ecd0;
  padding: 20px;
  text-align: left;
  font-size: 45px;
  color: white;
}

body{font-color: rgb(120, 120, 120);
font-family: helvetica neue;}