header {
  background-color: rgb(255, 203, 165);
  padding: 20px;
  text-align: left;
  font-size: 45px;
  color: white;
}

footer {
    background color: rgb(255, 203, 165);
    padding: 20px;
    text-align: left;
    font-size: 45px;
    color: white;
}

body{font-color: rgb(120, 120, 120);
font-family: helvetica neue;}